{% extends 'base.html.twig' %}

{% block title %}Edit Tache{% endblock %}

{% block body %}
    <h1>Edit Tache</h1>

    {{ include('tache/_form.html.twig', {'button_label': 'Update'}) }}
    <br/>
    <a href="{{ path('app_tache_index') }}" class="btn btn-primary">back to list</a>
    <br/>
    {{ include('tache/_delete_form.html.twig') }}
    <br/>
{% endblock %}
