<nav class="navbar navbar-expand-sm navbar-dark bg-primary mb-3">
    <div class="container">
        <a href="/" class="navbar-brand">Yazidi Ons</a>
        <button class="navbar-toggler" type="button" datatoggle="collapse" data-target="#mobile-nav">
            <span class="navbar-toggle-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="mobile-nav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a href="/utilisateur" class="nav-link">User</a>
                </li>
                <li class="nav-item">
                    <a href="/tache" class="nav-link">Tache</a>
                </li>
               
                

            </ul>
        </div>
    </div>
</nav>